{% extends 'base.html' %}

{% block title%}
Arctic-Play.ru - Киберспорт в НПР
{% endblock%}

{% block body%}

<main id="main" class="">
      <section class="aboutandcount">

      </section>
      <!-- End Counts Section -->

      <section id="clients counts" class="clients section-bg">

        <div class="container">
          <div class="row counters">
            <div class="col-lg-3 col-6 text-center">
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="0" class="purecounter">232</span>
              <p>Clients</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="0" class="purecounter">521</span>
              <p>Projects</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
              <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="0" class="purecounter">1463</span>
              <p>Hours Of Support</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
              <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="0" class="purecounter">15</span>
              <p>Hard Workers</p>
            </div>
          </div>
        </div>
      </section>

      <!-- ======= Our Values Section ======= -->
      <section class="our-values-back">

        <section id="our-values" class="our-values">
          <div class="container">
            <div class="row">
              <div class="col-md-6 d-flex align-items-stretch">
                <div class="card" style="background-image: url('static/img/csgo.jpg')">
                  <div class="card-body">
                    <h5 class="card-title"><a href="">Counter-Strike: Global Offensive</a></h5>
                    <p class="card-text">
                      Lorem ipsum dolor sit amet, consectetur elit, sed do
                      eiusmod tempor ut labore et dolore magna aliqua.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="card" style="background-image: url('static/img/dota.jpg')">
                  <div class="card-body">
                    <h5 class="card-title"><a href="">Dota 2</a></h5>
                    <p class="card-text">
                      Sed ut perspiciatis unde omnis iste natus error sit
                      voluptatem doloremque laudantium, totam rem.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 d-flex align-items-stretch mt-4">
                <div class="card" style="background-image: url('static/img/Rainbow-Six-Siege.jpg')">
                  <div class="card-body">
                    <h5 class="card-title"><a href="">Tom Clancy’s Rainbow Six Siege</a></h5>
                    <p class="card-text">
                      Nemo enim ipsam voluptatem quia voluptas sit aut odit aut
                      fugit, sed quia magni dolores.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 d-flex align-items-stretch mt-4">
                <div class="card" style="background-image: url('static/img/apexlegends.jpg')">
                  <div class="card-body">
                    <h5 class="card-title"><a href="">Apex Legends</a></h5>
                    <p class="card-text">
                      Nostrum eum sed et autem dolorum perspiciatis. Magni porro
                      quisquam laudantium voluptatem.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>
      <!-- End Our Values Section -->



    </main>

{% endblock%}